<div class="container">
    <div class="form-group row justify-content-md-center">
        <div class="float-left col-8">
            <%= render 'shared/error_messages', obj: article %>
        </div>

        <div class="col-8">
            <%= form_with(model: article, local: true) do |f| %>
                <div class="form-group row">
                    <%= f.label :title %> <br />
                    <%= f.text_field :title, placeholder: 'Title of article', class: 'form-control shadow-sm rounded' %>
                </div>

                <div class="form-group row">
                    <%= f.label :description %> <br />
                    <%= f.text_area :description, placeholder: 'Description of article', class: 'form-control shadow-sm rounded', rows: 10 %>
                </div>

                <div class="form-group row">
                    <%= f.submit class: 'btn btn-outline-success btn' %>
                </div>

                <div class="form-group row">
                    <%= link_to 'Cancel and return to articles listing', articles_path %>
                </div>
            <% end %>
        </div>
    </div>
</div>