<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'alpha blog', root_path, class: 'text-uppercase navbar-brand font-weight-bold' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to 'Bloggers', users_path, class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                        Articles
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Create new article', new_article_path, class: 'dropdown-item' %>
                    <%= link_to 'View articles', articles_path, class: 'dropdown-item' %>
                </div>
            </li>

            <% if logged_in? %>
                <li class="nav-item">
                    <%= link_to current_user.username, user_path(current_user), class: 'nav-link' %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to 'Login', login_path, class: 'nav-link' %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Sign up', signup_path, class: 'nav-link' %>
                </li>
            <% end %>
        </ul>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>